# ignore ALL .log, .blg, .toc, .aux, .bbl, .bcf, .out, .fls, .fdb_latexmk, .synctex.gz files
*.log
*.blg
*.toc
*.aux
*.bbl
*.bcf
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl-SAVE-ERROR

# ignore ALL files in ANY directory named Temp
Temp/